%h1 Listing blogs

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= blog.description
        %td= link_to 'Show', blog, class: "btn btn-link"
        %td= link_to 'Edit', edit_blog_path(blog), class: "btn btn-link"
        %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"

%br

= link_to 'New Blog', new_blog_path, class: "btn btn-primary"
